@page
@model Project.Pages.DisplayProductsModel
@{
    ViewData["Title"] = "Display Products";
}


<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-page="./DisplayProducts" asp-route-sortOrder="@Model.PriceSort">
                    Sort By @Html.DisplayNameFor(model => model.Product[0].Price)
                </a>
            </th>
            <th>

            </th>
    </thead>
</table>

<form asp-page="/DisplayProducts" method="get">
    <div class="form-actions no-color">
        <p>
            Find by Product Name:
            <input type="text" name="SearchString" value="@Model.CurrentFilter" />
            <input type="submit" value="Search" class="btn btn-primary" /> |
            <a asp-page="/DisplayProducts">Back to full List</a>
        </p>
    </div>
</form>

@foreach (var item in Model.Product)

{
    <div class="card">

        <img src="~/images/@item.ImageName" />

        <div class="container">

            <p>@item.ProductName </p>
            <p>@item.ProductDescription</p>
            <p class="price"> £@item.Price</p>
            <p><button>Add to Cart</button></p>

        </div>

    </div>



}


